fastapi
uvicorn
pydantic
langchain
langchain_community
langchain-core
langchain-groq
groq
fastapi
uvicorn
groq
python-dotenv
mangum
pydantic
fastapi==0.104.1
uvicorn==0.24.0
groq==0.3.0
python-dotenv==1.0.0
python-multipart==0.0.6